<h1><a id="_2j4yrcu51uw8"></a>1.1 Предмет теории вероятностей.</h1><p>В теории вероятности рассматриваются испытания
    (действия) любой природы, имеющие <em>случайный</em> и <em>массовый</em> характер:</p>
<ul>
    <li><strong>случайный</strong> характер — нельзя заранее предсказать результат испытания</li>
    <li><strong>массовый</strong> характер — испытание может быть повторено многократно</li>
</ul><h1><a id="_f6g62c7e3zsz"></a>1.2 Элементарный исход. </h1><p><strong>Элементарный исход</strong> — конкретный
    возможный результат испытания.</p><h1><a id="_5tblztb79ig7"></a>1.3 Пространство элементарных исходов.</h1><p>
    Множество всех элементарных исходов образует <strong>пространство элементарных исходов Ω</strong>.</p><h1><a
        id="_by9e8es6cktb"></a>2.1 Определение события: случайного, достоверного, невозможного.</h1><p>Под <strong>событием</strong>
    понимают:</p>
<ol>
    <li>возможный результат испытания</li>
    <li>подмножество Ω тех элементарных исходов, при которых возможен этот результат</li>
</ol><p>События бывают <em>случайными</em>, <em>достоверными</em> и <em>невозможными</em>:</p>
<ul>
    <li><strong>случайное</strong> — может произойти в результате данного испытания<br/>случайному событию соответствует
        собственное подмножество пространства Ω<br/><em>пример</em>: A = {на кубике выпадет чётное число} = {2, 4,
        6}<br/> B = {на кубике выпадет нечётное число} = {1, 3, 5}
    </li>
    <li><strong>достоверное</strong> — обязательно произойдёт в результате данного испытания<br/>достоверному событию
        соответствует всё пространство Ω<br/><em>пример</em>: C = {на кубике не более 6 очков} = {1, 2, 3, 4, 5, 6}
    </li>
    <li><strong>невозможное</strong> — никогда не произойдёт в результате данного испытания<br/>невозможному событию
        соответствует ∅ подмножество в пространстве Ω<br/><em>пример</em>: D = {на кубике более 6 очков} = ∅
    </li>
</ul><h1><a id="_q345ekgyl7xg"></a>2.2 Сумма и произведение событий. </h1><p>Любое событие можно выразить, используя
    следующие операции:</p>
<ul>
    <li><strong>Сумма</strong> A + B — событие, которое происходит тогда, когда происходит хотя бы одно из событий A или
        B
    </li>
</ul><p>Сумма A + B соответствует объединению подмножеств A и B</p>
<ul>
    <li><strong>Произведение</strong> A × B — событие, которое происходит тогда, когда происходит одновременно событие A
        и событие B<br/>Произведение A × B соответствует пересечению подмножеств A и B
    </li>
    <li><strong>Противоположенным</strong> () называют событие, которое происходит тогда, когда не происходит событие
        <br/>Противопоположенному событию соответствует дополнение подмножества до пространства Ω
    </li>
</ul>
<table>
    <tr>
        <td><p>A + B</p></td>
        <td><p>A × B</p></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><p><strong>A\B</strong></p></td>
                    <td><p><strong>0</strong></p></td>
                    <td><p><strong>1</strong></p></td>
                </tr>
                <tr>
                    <td><p><strong>0</strong></p></td>
                    <td><p>0</p></td>
                    <td><p>1</p></td>
                </tr>
                <tr>
                    <td><p><strong>1</strong></p></td>
                    <td><p>1</p></td>
                    <td><p>1</p></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><p><strong>A\B</strong></p></td>
                    <td><p><strong>0</strong></p></td>
                    <td><p><strong>1</strong></p></td>
                </tr>
                <tr>
                    <td><p><strong>0</strong></p></td>
                    <td><p>0</p></td>
                    <td><p>0</p></td>
                </tr>
                <tr>
                    <td><p><strong>1</strong></p></td>
                    <td><p>0</p></td>
                    <td><p>1</p></td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td><p><strong>A</strong></p></td>
                    <td><p><strong>~A</strong></p></td>
                </tr>
                <tr>
                    <td><p><strong>0</strong></p></td>
                    <td><p>0</p></td>
                </tr>
                <tr>
                    <td><p><strong>1</strong></p></td>
                    <td><p>0</p></td>
                </tr>
            </table>
        </td>
    </tr>
</table><h1><a id="_qctnbqua63h4"></a>3. Классическое определение вероятности.</h1><p>Рассматривается одно испытание с
    конечным числом n равновозможных элементарных исходов. <br/>Для события A <strong>классическая вероятность</strong>
    определяется равенством <br/> n<sub>A</sub> — число элементарных исходов, при которых происходит событие A (<strong>благоприятных</strong>)<br/>
    n — число всех элементарных исходов.</p><p><em>Пример.</em> Рассмотрим испытание с конечным числом равновозможных
    исходов (например, однократное подбрасывание игрального кубика):</p><p>A = {на кубике выпадет чётное число} = {2, 4,
    6}:</p><h1><a id="_2o9knen1ndvk"></a>4. Геометрическое определение вероятности.</h1><p>Рассматривается одно
    испытание с ∞ числом равновозможных элементарных исходов. Например, испытание состоит в выборе наугад точки в
    области Ω с мерой μ(Ω).</p><p>Мерой может быть длина, площадь, объём. Для события B: </p><p>точка оказалась в
    подобласти B в области Ω ⇔ B = {подобласть B области Ω}</p><p><strong>Геометрическая вероятность</strong>
    определяется равенством: , где<br/> μ(B) — мера подобласти B, <br/> μ(Ω) — мера всей области Ω.</p><p>
    <em>Пример.</em> испытание состоит в выборе наугад точки в круге радиуса R. Найти вероятность попадания точки в
    квадрат, вписанный в этот круг.</p><p>Ω = {круг с радиусом R} ⇒ μ(Ω) = πR<sup>2</sup></p><p>B = {точка на квадрате}
    ⇒ μ(B) = 2R<sup>2</sup></p><p>Вероятность: </p><h1><a id="_jslmod1ybpln"></a>5.1 Статистическое определение
    вероятности. Рассматривается одно испытание с ∞ числом равновозможных элементарных исходов. Например, испытание
    состоит в выборе наугад точки в области Ω с мерой μ(Ω).</h1><p>Мерой может быть длина, площадь, объём. Для события
    B: </p><p>точка оказалась в подобласти B в области Ω ⇔ B = {подобласть B области Ω}</p><p><strong>Геометрическая
    вероятность</strong> определяется равенством: , где<br/> μ(B) — мера подобласти B, <br/> μ(Ω) — мера всей области Ω.
</p><p><em>Пример.</em> испытание состоит в выборе наугад точки в круге радиуса R. Найти вероятность попадания точки в
    квадрат, вписанный в этот круг.</p><p>Ω = {круг с радиусом R} ⇒ μ(Ω) = πR<sup>2</sup></p><p>B = {точка на квадрате}
    ⇒ μ(B) = 2R<sup>2</sup></p><p>Вероятность: </p><p><strong>Несовместные</strong> события — события, которые не могут
    произойти одновременно в результате конкретного испытания.</p><h1><a id="_aeii1qz8owwb"></a>5.2 Аксиоматическое
    определение вероятности.</h1><p>Каждому испытанию однозначно соответствует пространство элементарных исходов Ω и
    алгебра событий 𝒮. Числовая функция P(A), заданная на алгебре 𝒮, называется вероятностью, если она <strong>соответствует
        следующим аксиомам</strong>:</p>
<ol>
    <li>P(A) ≥ 0 для ∀A∈𝒮</li>
    <li>для несовместных событий: P(A+B) = P(A)+P(B)</li>
    <li>P(Ω) = 1</li>
</ol><p>Тройка (Ω, 𝒮, P) называется вероятностной моделью данного испытания, где Ω — пространство элементарных исходов,
    𝒮 — алгебра событий, P — вероятность.</p><h1><a id="_tq7tapjkj6cf"></a>6.1 Понятие полной группы гипотез. </h1><p>
    <strong>Гипотезой</strong> называют предположение о варианте реализации испытания. </p><p>Гипотезы H<sub>1</sub>,
    H<sub>2</sub>, ... H<sub>n</sub> образуют <strong>полную группу гипотез</strong>, если они охватывают все варианты
    реализации и в результате испытания будет реализован только один из них. При этом (сумма вероятностей гипотез).</p>
<h1><a id="_99qyacuue4qq"></a>6.2 Формулы полной вероятности и Байеса.</h1><p>Пусть событие A может произойти только с
    одной из гипотез H<sub>1</sub>, H<sub>2</sub>, ... H<sub>n</sub>, образующих полную группу. Тогда справедливы
    следующие равенства:</p>
<ol>
    <li>Формула полной вероятности:<br/></li>
    <li>Если событие A уже произошло, то вероятности гипотез вычисляются по формуле Байеса:</li>
</ol><p><strong>Доказательство.</strong></p><p>Поскольку событие A может произойти только с одной из гипотез
    H<sub>1</sub>, H<sub>2</sub>, ... H<sub>n</sub>, образующих полную группу, то очевидно равенство (1)</p><p>Используя
    теоремы сложения и умножения вероятностей, из равенства (1) получим:</p><p>Используя теорему умножения вероятностей,
    имеем:</p><p>Отсюда </p><p><strong>Теорема доказана.</strong></p><h1><a id="_iczrfhfaqnte"></a></h1>
